body {
  background-color: #fbfbfb;
  text-align: center;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #494866;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #2d4e90;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.candidate{
    transition: margin 2s;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    margin: 1rem;
   
}

.candidate:hover{
  box-shadow: 0px 30px 30px 0px rgba(0, 0, 0, 0.6);
  transform: scale(1.1);
  transition: 0.5s;
}



.Banner{
  text-align: center;
}

.Banner-title{
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #eeeeee;
  background-color: #59587d;
  display: flex;
  height: 18vh;
  font-size: calc(10px + 2vmin);
  
 
}

.ListOfCandidates-sub-title{
  background-color: #283755;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #eeeeee;
}

.form{
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.5s;
  width: 70%;
  margin-top: 3%;
  margin-left: 15%;
  margin-bottom: 5%;
  background-color: #074f9b;

}

.form2{
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.5s;
  width: 70%;
  margin-top: 3%;
  margin-left: 15%;
  margin-bottom: 5%;
  background-color: #ff7402;

}


.form-label{
  background-color: #392f48;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #eeeeee;
}

.form-input{
  color: #eeeeee;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 18px;
  font-family: initial;
}

.button-vote{
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  margin-bottom: 10px;
}

.button-vote:hover{
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.6);
  background-color:rgb(134, 175, 76);
}

.CandidateDetails-mid-sub-title{
  background-color: #283755;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #eeeeee;
  width: 90%;
  margin: 50px;
}

.button-verified{
  background-color: rgb(1, 123, 11);
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  margin-bottom: 10px;
  pointer-events: none; /*For disabling the hoover animation */

}

.button-verify{
  background-color: rgb(126, 13, 1);
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  margin-bottom: 10px;
}

.button-verify:hover{
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.6);
  background-color:rgb(175, 76, 114);
}

.admin-buttons{
  margin: 20px;
}

.admin-buttons-start-s{
  background-color: rgb(3, 135, 18);
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  margin-bottom: 10px;
}

.admin-buttons-start-s:hover{
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.6);
  background-color:rgb(138, 16, 7);
}

.admin-buttons-start-e{
  background-color: rgb(138, 16, 7);
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  margin-bottom: 10px;
}

.admin-buttons-start-e:hover{
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.6);
  background-color:rgb(3, 135, 18);
}

.admin-buttons-end-s{
  background-color: rgb(3, 135, 18);
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  margin-bottom: 10px;
}

.admin-buttons-end-s:hover{
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.6);
  background-color:rgb(138, 16, 7);
}

.admin-buttons-end-e{
  background-color: rgb(138, 16, 7);
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  margin-bottom: 10px;
}

.admin-buttons-end-e:hover{
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.6);
  background-color:rgb(3, 135, 18);
}


.navbar a.active {
  background-color: #4CAF50;
}

.heading { 
  background-color: #1f2833;
}

.Admin{
  background-color: #bd2409;
  height: 25px;
  color: white
}

.body-content {
  margin: 50px;
  font-size: 24px;
  color: #ffffff;
  background-image: linear-gradient(to right top, #59587d, #5c6893, #5c79a9, #588bbe, #4f9dd2);
  padding: 20px;
}

.validation{
  color: #D63301;
  background-color: #FFCCBA;
  font-weight: bold;
}

.body-text-content {
  font-size: 1.2rem;
  text-align: left;
  margin-left: 0px;
  font-family: monospace;
  text-shadow: 2px 2px #000000 

}